- if user_signed_in?
  %h1
    = @chat_group.name

  %h4
    = 'Members:'
    - @chat_group.users.each do |user|
      = user.name
<<<<<<< HEAD

  = form_for @message, :url => {:action => :index}, remote: true do |f|
    = f.text_field :body
    = image_tag @message.image.url if @message.image?
    = f.file_field :image
    = f.hidden_field :image_cache
    = f.submit 'send'
  %ul
    = render @messages
=======
      
  .contents
    = form_for [@chat_group, @message], html: { class: 'form js-form' } do |f|
      = f.text_field :body, class: 'form__text-field js-form__text-field'
      = f.submit class: 'form__submit js-submit'

    %ul.messages_list
      = render @messages
>>>>>>> origin/master

  = link_to "sign out", destroy_user_session_path, method: :delete

- else
  %h1 you need to log in
  = link_to "sign in", user_session_path, method: :post
