- if user_signed_in?
  %h1
    = @chat_group.name

  %h4
    = 'Members'
    - @chat_group.users.each do |user|
      = user.name

  = form_for @message, :url => {:action => :index}, remote: true do |f|
    = f.text_field :body
    = f.submit 'send'
  %ul
    = render @messages
  = link_to "sign out", destroy_user_session_path, method: :delete
- else
  %h1 you need to log in
  = link_to "sign in", user_session_path, method: :post
