%header
  %p.header-text チャットグループが作成されました。

.contents
  .groups
    .group-user-name
      - if user_signed_in?
      %p.user-name
        = @chat_group.name

    .groups-names
      .group-names
        - @chat_groups.each do |chat_group|
          %p.group-name
            = chat_group.name
            %p.group-messages 保留

  .chats
    .chatsgroup-name
      %p.chat-group-name
        = @chat_group.name
      .chat-group-bottom Edit






  %h4
    = 'Members:'
    - @chat_group.users.each do |user|
      = user.name

  .contents
    = form_for [@chat_group, @message], html: { class: 'form js-form', name: 'the-form' } do |f|
      = f.text_area :body, class: 'form__text-field js-form__text-field', placeholder: 'message'
      = f.file_field :image
      = f.submit class: 'form__submit js-submit'

    %ul.messages_list
      = render @messages

  = link_to "sign out", destroy_user_session_path, method: :delete

    -#- else
    -#    %h1 you need to log in
    -#    = link_to "sign in", user_session_path, method: :post