%h1 新しいchat_groupを作成
= form_for @new_chat_group do |f|
  -#分けるためにもクラス追加
  .chat-group-form
    %p= f.label 'Name'
    %p= f.text_field :name

  .chat-group-form
    = f.label 'Add new Members'
    %input#user-search-field{ placeholder: '追加したいユーザー名を入力してください' }
      #user-search-result

  %br

  .chat-group-form
    = f.label 'ChatMembers'
    #chat-group-users
      -#userを関連付けさせるため
      - @new_chat_group.users.each do |user|
        -#jqueryで、data(userId)で、idを取得できるように
        .chat-group-user{ id: "chat-group-user-#{user.id}" }
          %input{ value: user.id }
          %p= user.name
          -#hamlの書きかた、覚えるべし
          %a{ 'data-user-id': user.id } 削除

  = f.submit "create a new group"

