%h1 新しいchat_groupを作成
= form_for(@new_chat_group) do |f|
  %p= f.label "Name"
  %p= f.text_field :name
  %p= f.label "Members"

  -#ここに検索ワードを入れる
  %p= text_field_tag :email, '', id: 'user-search-field', placeholder: 'add a new member'

  -#ここに検索結果のワードが出てくる
  #user-search-result

  = f.submit "create a new group"
