%h1 新しいchat_groupを作成
= form_for(@new_chat_group) do |f|
  %p= f.label "Name"
  %p= f.text_field :name
  %p= f.label "Members"
  %p= f.collection_check_boxes :user_ids, User.all, :id, :name
  = f.submit "create a new group"
