<!DOCTYPE html>
<html>
<head>
    <title>ChatSpace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--jquery追加-->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
</head>

<body>

<div class="layout-notification">
  <!--<p class="layout-notice"></p>-->
  <% if notice %><p class="layout-notice"><%= notice %></p><% end %>
  <% if alert %><p class="layout-alert"><%= alert %></p><% end %>
    <%= yield %>
</div>
</body>
</html>